<div>
<div class="col-xs-12"><h2 class="mt0">创建词条</h2></div>
<create-word word="createVM.word"></create-word>
<!--<div class="form-group col-xs-12 mt20">
    <div class="col-xs-12 col-sm-5 pl0">
        <input type="text" class="form-control" id="wordNameInput" placeholder="词汇名称" ng-model="createVM.word.word"
               ng-change="createVM.word.xici=createVM.word.word">
    </div>
    <div class="col-xs-10 col-sm-5 pl0">
        <div class="dropdown pull-left">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-expanded="true">
                <span ng-bind="createVM.word.cixing"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a ng-click="createVM.setCiXing('名词')">名词</a></li>
                </li>
                <li role="presentation">
                    <a ng-click="createVM.setCiXing('动词')">动词</a></li>
                </li>
                <li role="presentation">
                    <a ng-click="createVM.setCiXing('不变词')">不变词</a></li>
                </li>
            </ul>
        </div>

        <div class="dropdown pl3 pull-left">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-expanded="true">
                <span ng-bind="createVM.word.dictionary.dicDisplayName"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">

                <li role="presentation" class="dropdown-header" style="color:#337AB7;margin-top:10px;">梵</li>
                <li role="presentation" class="divider" style="margin-top: 0"></li>
                <li role="presentation" ng-repeat="dictionary in fan_dictionaryList">
                    <a ng-click="createVM.setDictionary(dictionary)">{{dictionary.dicDisplayName}}</a></li>
                </li>
                <li role="presentation" class="dropdown-header"></li>

                <li role="presentation" class="dropdown-header" style="color:#337AB7;margin-top:10px;">巴利</li>
                <li role="presentation" class="divider" style="margin-top: 0"></li>
                <li role="presentation" ng-repeat="dictionary in ba_dictionaryList">
                    <a ng-click="createVM.setDictionary(dictionary)">{{dictionary.dicDisplayName}}</a></li>
                </li>
                <li role="presentation" class="dropdown-header"></li>

                <li role="presentation" class="dropdown-header" style="color:#337AB7;margin-top:10px;">藏</li>
                <li role="presentation" class="divider" style="margin-top: 0"></li>
                <li role="presentation" ng-repeat="dictionary in zang_dictionaryList">
                    <a ng-click="createVM.setDictionary(dictionary)">{{dictionary.dicDisplayName}}</a>
                </li>
                <li role="presentation" class="dropdown-header"></li>

                <li role="presentation" class="dropdown-header" style="color:#337AB7;margin-top:10px;">汉</li>
                <li role="presentation" class="divider" style="margin-top: 0"></li>
                <li role="presentation" ng-repeat="dictionary in han_dictionaryList">
                    <a ng-click="createVM.setDictionary(dictionary)">{{dictionary.dicDisplayName}}</a>
                </li>
                <li role="presentation" class="dropdown-header"></li>
            </ul>
        </div>
    </div>
</div>
<div role="tabpanel" class="col-xs-12 mt20">
    &lt;!&ndash; Nav tabs &ndash;&gt;
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#patternEditTab" role="tab" data-toggle="tab" ng-click="createVM.word.template='pattern'">模板编辑</a></li>
        <li role="presentation"><a href="#freeEditTab" role="tab" data-toggle="tab" ng-click="createVM.word.template='freeStyle'">自由编辑</a></li>
    </ul>
    &lt;!&ndash; Tab panes &ndash;&gt;
    <div class="tab-content pa10">
        &lt;!&ndash; 模板编辑&ndash;&gt;
        <div role="tabpanel" class="tab-pane active" id="patternEditTab">
            {{createVM.word}}
            <div class="form-group form-group-sm mt20 mb20">
                <label class="text-info">【析词】</label>

                <div class="row">
                    <div class="col-sm-6 pr0">
                        <input type="text" class="form-control" placeholder="析词" ng-model="createVM.word.xici">
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm mt20">
                <label class="text-info" for="duiyingciInput">【对应词】</label>

                <div class="row">
                    <div class="col-sm-1 pr0">
                        <select class="form-control pl3" ng-model="createVM.newDuiyingciName">
                            <option ng-repeat="option in createVM.duiyingciOptionList" value="{{option}}">
                                {{option}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-5 pr0">
                        <input type="text" class="form-control" id="duiyingciInput" placeholder="对应词"
                               ng-model="createVM.newDuiyingciValue">
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-info btn-sm" ng-click="createVM.addDuiyingci()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-sm-6">
                        <table class="table table-condensed table-bordered">
                            <tr ng-repeat="duiyingci in createVM.word.duiyingciList">
                                <td class="col-md-2">{{duiyingci.name}}</td>
                                <td class="col-md-9">{{duiyingci.value}}</td>
                                <td class="col-md-1 text-center">
                                    <button type="button" class="close" style="width: 30px;">&times;</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group mt30">
                <label class="text-info">【释义】</label>
                <textarea id="shiyiTiny" ui-tinymce="createVM.tinymceShiyiOptions" ng-model="createVM.word.shiyi"></textarea>

                <div class="well collapse" id="shiyiSoftKeys"></div>
            </div>

            <div class="form-group form-group-sm mt20 mb20">
                <label class="text-info" for="duiyingciInput">【关联词】</label>

                <div class="row">
                    <div class="col-sm-5 pr0">
                        <input type="text" class="form-control" id="guanlianciInput" placeholder="关联词"
                               ng-model="createVM.newGuanlianci">
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-info btn-sm" ng-click="createVM.addGuanlianci()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="row mt10 mb20">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="pull-left mr20" ng-repeat="guanlianci in createVM.word.guanlianciList">
                                    {{guanlianci}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt30">
                <label class="text-info">【例句】</label>
                <textarea ui-tinymce="createVM.tinymceOptions" ng-model="createVM.word.liju"></textarea>
            </div>
            <div class="form-group mt30">
                <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <label class="text-info">【变形】</label>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body pl0 pr0 pt0">
                        <textarea ui-tinymce="createVM.tinymceOptions" ng-model="createVM.word.bianxing"></textarea>
                        &lt;!&ndash;<table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>单</th>
                                <th>双</th>
                                <th>复</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>fdjsaj</td>
                                <td>fdjsaj</td>
                                <td>fdjsaj</td>
                            </tr>
                            <tr>
                                <td>fdjsaj</td>
                                <td>fdjsaj</td>
                                <td>fdjsaj</td>
                            </tr>
                            <tr>
                                <td>fdjsaj</td>
                                <td>fdjsaj</td>
                                <td>fdjsaj</td>
                            </tr>
                            <tr>
                                <td>fdjsaj</td>
                                <td>fdjsaj</td>
                                <td>fdjsaj</td>
                            </tr>
                            </tbody>
                        </table>&ndash;&gt;
                    </div>
                </div>
            </div>
            <div class="form-group mt30">
                <label class="text-info">【百科与参考】</label>
                <textarea ui-tinymce="createVM.tinymceOptions" ng-model="createVM.word.baike"></textarea>
            </div>
        </div>
        &lt;!&ndash; 自由编辑&ndash;&gt;
        <div role="tabpanel" class="tab-pane" id="freeEditTab">
            <textarea ui-tinymce="createVM.tinymceOptions" ng-model="createVM.word.shiyi"></textarea>
        </div>
    </div>
    <div class="col-xs-12 footer mt20">
        <div class="pull-left mb20">
            <button class="btn btn-info" ng-click="createVM.saveWord()"><span class="glyphicon glyphicon-floppy-disk"></span>保存</button>
        </div>
    </div>
</div>-->

</div>
