<div ng-controller="DictionaryCtrl as dicVM">
    <nav class="col-lg-2 sidebar" id="leftNavbar" style="padding: 25px 10px">
        <div class="input-group input-group-sm">
            <input type="text" id="searchInput" class="form-control" data-toggle="collapse" href="#collapseSoftKeys"
                   ng-model="dicVM.search.searchWord">

            <div class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                <button type="button" class="btn btn-default" data-toggle="collapse" href="#collapseSearchSettings">
                    <span class="caret"></span></button>
            </div>
            <!-- /btn-group -->
        </div>
        <!-- /input-group -->
        <div class="collapse" id="collapseSoftKeys">
            <div class="well" style="padding: 10px 10px;">
                <button class="btn btn-default btn-xs" ng-repeat="softKey in dicVM.softKeys"
                        ng-click="dicVM.typeSpecialChar($event)">
                    {{softKey}}
                </button>
            </div>

        </div>
        <div class="collapse" id="collapseSearchSettings">
            <div class="well" style="padding: 10px 10px;font-size: 12px; color: #555555">
                <span>编码：</span>

                <div class="radio">
                    <label ng-repeat="code in dicVM.codeList">
                        <input name="code" type="radio" style="margin: 2px 0 0 -13px"
                               ng-click="dicVM.setSearchCode(code.codeValue)" ng-checked="code.checked">{{code.codeName}}
                    </label>
                </div>
                <span class="disabled">匹配：</span>

                <div class="radio">
                    <label ng-repeat="match in dicVM.matchList">
                        <input name="match" type="radio" style="margin: 2px 0 0 -13px"
                               ng-click="dicVM.setSearchMatch(match.matchValue)" ng-checked="match.checked">{{match.matchName}}
                    </label>
                </div>

                <span class="disabled">范围：</span>

                <div class="radio">
                    <label ng-repeat="domain in dicVM.domainList">
                        <input name="domain" type="radio" style="margin: 2px 0 0 -13px"
                               ng-click="dicVM.setSearchDomain(domain.domainValue)" ng-checked="domain.checked">{{domain.domainName}}
                    </label>
                </div>
            </div>
        </div>
        <ul class="nav nav-sidebar">
            <li><a id="linkHome" ui-sref=".showWord({word: 'about'})">about</a></li>
            <li><a id="linkHome" ui-sref=".showWord({word: 'absolutely'})">absolutely</a></li>
            <li><a id="linkHome" ui-sref=".showWord({word: 'cat'})">cat</a></li>
            <li><a id="linkHome" ui-sref=".showWord({word: 'absolutely'})">absolutely</a></li>
            <li><a id="linkHome" ui-sref=".showWord({word: 'non-absolutely'})">non-absolutely</a></li>
            <li><a id="linkHome" ui-sref=".showWord({word: 'word'})">word</a></li>
            <li><a id="linkHome" ui-sref=".showWord({word: 'good'})">good</a></li>
            <li><a id="linkHome" ui-sref=".showWord({word: 'destroy'})">destroy</a></li>
            <li><a id="linkHome" ui-sref=".showWord({word: 'right now'})">right now</a></li>
            <li><a id="linkHome" ui-sref=".showWord({word: 'supper'})">supper</a></li>
        </ul>
    </nav>
    <div class="col-lg-10 col-lg-offset-2 main" role="main">
        <div ui-view></div>
    </div>
</div>