<div class="btn-group mb20" data-toggle="buttons">
    <label class="btn btn-info" ng-click="vm.refreshNewWordList('Year',1)">
        <input type="radio" autocomplete="off"> 1年
    </label>
    <label class="btn btn-info" ng-click="vm.refreshNewWordList('Month',3)">
        <input type="radio" autocomplete="off"> 3个月
    </label>
    <label class="btn btn-info" ng-click="vm.refreshNewWordList('Month',1)">
        <input type="radio" autocomplete="off"> 1个月
    </label>
    <label class="btn btn-info active" ng-click="vm.refreshNewWordList('Week',1)">
        <input type="radio" autocomplete="off"> 1周
    </label>
</div>

<div class="panel-group" role="tablist" id="accordion" aria-multiselectable="true">
    <div class="panel panel-default" ng-repeat="word in vm.newWordList | orderBy : '-lastEditDateTime'">
        <div class="panel-heading" role="tab">
            <div class="row">
                <div class="panel-title col-xs-4" data-toggle="collapse" data-parent="#accordion"
                     href="#collapse{{word.id}}" aria-expanded="true" style="cursor: pointer;">{{word.word}}
                </div>
                <div class="text-primary col-xs-3" data-toggle="collapse" data-parent="#accordion"
                     href="#collapse{{word.id}}" aria-expanded="true" style="cursor: pointer;">{{word.lastEditDateTime |
                    date : 'yyyy-MM-dd hh:mm:ss EEEE'}}
                </div>
                <div class="text-primary col-xs-3" data-toggle="collapse" data-parent="#accordion"
                     href="#collapse{{word.id}}" aria-expanded="true">
                    <span class="glyphicon glyphicon-user"></span> {{word.author.displayName}}
                </div>
                <div class="text-primary col-xs-2">
                    <button has-permission="Admin" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-upload"></span></button>
                    <button has-permission="Admin Editor" is-editable="{{word}}" class="btn btn-warning btn-xs" ng-init="word.isEdit=false" ng-click="word.isEdit = !word.isEdit"><span class="glyphicon glyphicon-edit"></span></button>
                    <button has-permission="Admin Editor" is-editable="{{word}}" class="btn btn-danger btn-xs" ng-click="vm.deleteWord(word.id)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="collapse{{word.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div ng-hide="word.isEdit">
                    <show-word word="word"></show-word>
                </div>
                <div ng-hide="!word.isEdit">
                    <create-word word="word"></create-word>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="(vm.pageCount>0)?false:true">
    <ul class="pagination">
        <li style="cursor: pointer;">
            <a ng-click="vm.prePage()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="i in [] | range:vm.pageCount" ng-class="(i==vm.page)?'active':''"  style="cursor: pointer;">
            <a ng-click="vm.specificPage(i)">{{i}}</a>
        </li>

        <li  style="cursor: pointer;">
            <a ng-click="vm.nextPage()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

</div>