<!--<div ng-controller="UsersCtrl as vm">
  <input type="text" ng-model="vm.name">
  <p>This is the user:{{vm.name}} view.</p>
</div>-->
<div class="row">
  <div class="col-xs-9 mb20">
    <h2 class=" mt0">用户管理</h2>
  </div>
  <div class="col-xs-3">
    <button class="btn btn-info pull-right" data-toggle="modal" data-target="#addUserModal">
      <span class="glyphicon glyphicon-plus"></span> 添加</button>
  </div>
</div>

<!--search user-->
<div class="row pl2">
  <div class="input-group input-group-sm col-sm-9">
    <div class="col-sm-6"><input type="text" id="searchUserInput" class="form-control" data-toggle="collapse" href="#collapseSoftKeys"
                                 ng-model="userVM.searchUser" placeholder="输入用户名"/></div>
    <div class="col-sm-1 ml20">
      <button class="btn btn-info pull-right"><span class="glyphicon glyphicon-search"></span> 搜索</button>
    </div>
  </div>
</div>

<!-- user list table -->
<div class="row pl2 mt20">
  <div class="col-sm-9">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr class="bg-info">
        <th class="col-sm-1"><input type="checkbox" autocomplete="off" ng-model="userVM.checkAllValue" ng-click="userVM.checkAll()"/></th>
        <th class="col-sm-3">用户名</th>
        <th class="col-sm-4">昵称</th>
        <th class="col-sm-2">角色</th>
        <th class="col-sm-2">操作</th>
      </tr>
      </thead>

      <tbody>
      <!--<tr ng-repeat="user in userVM.users">-->
      <tr ng-repeat="user in userVM.userList">
        <td><input type="checkbox" autocomplete="off" ng-checked="user.checked"/></td>
        <td>{{user.username}}</td>
        <td>{{user.nichen}}</td>
        <td>{{user.juese}}</td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-warning">编辑</button>
            <button type="button" class="btn btn-default btn-danger">删除</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="row pl2">
  <div class="col-sm-9 pull-right">
    <nav>
      <ul class="pagination pagination-sm">
        <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2 </a></li>
        <li><a href="#">3 </a></li>
        <li><a href="#">4 </a></li>
        <li><a href="#">5 </a></li>

        <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal"  aria-labelledby="myModalLabel" aria-hidden="true">
  <!-- /.modal-dialog -->
  <div class="modal-dialog">
    <!-- /.modal-content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">用户注册</h4>
      </div>

      <div class="modal-body">
        {{userVM.user}}
        <div class="input-group input-group-sm col-xs-12">
          <!--<span class="input-group-addon glyphicon glyphicon-user"></span>-->
          <div class="col-xs-2"><label class="text-info mt3" style="margin-top: 4px">用户名:</label></div>
          <div class="col-xs-6"><input type="text" class="form-control" ng-model="userVM.user.username" placeholder="用户名"/></div>
          <div class="col-xs-4"><label class="text-info" style="margin-top: 4px">检查用户名是否可用</label></div>
        </div>
        <div class="input-group input-group-sm col-xs-12 mt10">
          <div class="col-xs-2"><label class="text-info" style="margin-top: 4px">密码:</label></div>
          <div class="col-xs-6"><input type="password" class="form-control" ng-model="userVM.user.password" placeholder="密码"/></div>
          <div class="col-xs-4"><label class="text-info" style="margin-top: 4px">密码长度8-16位</label></div>
        </div>
        <div class="input-group input-group-sm col-xs-12 mt10">
          <div class="col-xs-2"><label class="text-info" style="margin-top: 4px">确认密码:</label></div>
          <div class="col-xs-6"><input type="password" class="form-control" ng-model="userVM.passwordConfirm" placeholder="再次输入密码"/></div>
          <div class="col-xs-4"><label class="text-info" style="margin-top: 4px">密码长度8-16位</label></div>
        </div>
        <div class="input-group input-group-sm col-xs-12 mt10">
          <div class="col-xs-2"><label class="text-info" style="margin-top: 4px">昵称:</label></div>
          <div class="col-xs-6"><input type="text" class="form-control" ng-model="userVM.user.displayName" placeholder="昵称"/></div>
          <div class="col-xs-4"><label class="text-info" style="margin-top: 4px">支持中英文字符和数字</label></div>
        </div>

        <div class="input-group col-xs-12 mt10">
          <div class="col-xs-2"><label class="text-info" style="margin-top: 4px">角色:</label></div>
          <div class="col-xs-6 selectContainer" >
            <select name="role" class="form-control" ng-model="userVM.user.role">
              <option value=""></option>
              <option value="Admin">管理员</option>
              <option value="Editor">编辑者</option>
              <option value="Reader">读者</option>
            </select>
          </div>
          <label class="col-xs-4 control-label text-info" style="margin-top: 4px">选择用户角色</label>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="userVM.commitUser()">提交</button>
      </div>
    </div>
  </div>
</div>


