.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    font-family: "Times New Roman", "Arial";
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    /* border-bottom: 1px solid #e5e5e5;*/
    margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;

    padding-bottom: 19px;
}

.header .customSettingContainer {
    padding: 0 20px 20px 20px;
}

.header .customSettingContainer .dicGroupContainer {
    border: 1px #eeeeee solid;
    border-radius: 3px;
    height: 150px;
    color: #eeeeee;
    padding: 5px 10px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/*
 * Sidebar
 */
@media (max-width: 767px) {
    .sidebar {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .sidebar {
        width: 25%;
    }
}

/* Hide for mobile, show later */
@media (max-width: 1200px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: -55%;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fff;
        -webkit-box-shadow: 0 0 10px;
        box-shadow: 0 0 10px;
        min-width: 200px;
        transition: left 1s;
    }
}

@media (min-width: 1201px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #fff;
        box-shadow: 0 0 10px;
    }
}

.sidebar.animate {
    left: 0px;
}

.navbar-inverse {
    background-color: #337AB7;/*#444444*//*#337AB7*/;
    border-color: #337AB7;/*#444444*/;/*#337AB7*/;
    box-shadow: 0 0 20px #aaa;
}

.navbar-inverse .navbar-brand {
    color: #eee;
}

.navbar-inverse .navbar-brand > span {
    vertical-align: top;
}

.navbar-inverse .navbar-nav > li > a {
    color: #eee;
}

.navbar-fixed-top {
    border: 0;
}

/*#region Splash */
#splash-page {
    z-index: 99999 !important;
}

#splash-page .bar {
    width: 100%;
}

.page-splash {
    z-index: 99999 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444444;
    opacity: 0.7;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.page-splash-message {
    text-align: center;
    margin: 20% auto 0 auto;
    font-size: 200%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    text-decoration: none;
    color: #c1cddb;
    padding: 0;
}

.page-splash-message.page-splash-message-subtle {
    margin: 30% auto 0 auto;
    font-size: 200%;
}

.mt0 {
    margin-top: 0;
}

.ml0 {
    margin-left: 0;
}

.mr0 {
    margin-right: 0;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr20{
    margin-right: 20px;
}

.ml20{
    margin-left: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mb10{
    margin-bottom: 10px;
}

.ml5 {
    margin-left: 5px;
}

.ml5 {
    margin-right: 5px;
}

.pl0 {
     padding-left: 0;
 }

.pt0{
    padding-top: 0;
}

.pl3 {
    padding-left: 3px;
}

.pr0 {
     padding-right: 0;
 }

.pa10 {
    margin: 10px;
}

.ml2{
    margin-left: 2px;
}

.mt6{
    margin-top: 6px;
}

input[type="radio"], .myradio {
    margin: 2px 0 0 -13px;
}