<div class="header">
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="col-lg-5 navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" onclick="$('.sidebar').toggleClass('animate')">
                    <span class="visible-xs-block visible-sm-block visible-md-block glyphicon glyphicon-menu-hamburger"></span></a>
                <a class="navbar-brand" href="#/">梵佛电子词典 ( Fanfo E-Dictionary Project )</a>
            </div>

            <div class="col-lg-1 btn navbar-brand" data-toggle="collapse" data-target="#customSettingContainer"
                ng-click="changeIcon()">
                <span class="glyphicon glyphicon-triangle-bottom" ng-hide="isBottomIcon"></span>
                <span class="glyphicon glyphicon-triangle-top" ng-hide="!isBottomIcon"></span>
            </div>

            <div class="collapse navbar-collapse pull-right" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li has-permission="Admin Editor" class="hide"><a href="#/manage">管理中心</a></li>
                    <li><a ng-href="#/">关于我们</a></li>
                    <li><a ng-href="#/">联系我们</a></li>
                    <li>
                        <a id="userDropdownMenu" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer">
                            <span class="glyphicon glyphicon-user"></span>
                            <span id="activeUserName">{{currentUser.displayName}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="presentation" ng-hide="currentUser!=undefined && currentUser.id !=undefined" style="cursor:pointer;"><a data-toggle="modal" data-target="#loginModal">登录</a></li>
                            <!--<li role="presentation" ng-hide="currentUser!=undefined && currentUser.id !=undefined" style="cursor:pointer;"><a>注册</a></li>-->
                            <li role="presentation" ng-hide="currentUser==undefined || currentUser.id ==undefined" ng-click="logout()" style="cursor:pointer;"><a>注销</a></li>
                            <li role="presentation" ng-hide="currentUser==undefined || currentUser.id ==undefined"
                                data-toggle="modal" data-target="#updateCurrentUser"  ng-click="editUser()" style="cursor:pointer;"><a>修改密码</a></li>
                        </ul>
                    </li>
                    <!--<li><a class="btn" data-toggle="collapse" data-target="#customSettingContainer"><span
                            class="glyphicon glyphicon-cog"></span></a></li>-->
                </ul>

            </div>

        </div>

        <div class="collapse" id="customSettingContainer">
            <div class="customSettingContainer">
                <!-- <div class="col-xs-6 col-sm-3" style="padding: 10px;" ng-repeat="dictionaryGroup in dictionaryList | orderBy:'dicGroupId'">
                     <div class="dicGroupContainer">
                         <div class="pull-right"><span ng-bind="dictionaryGroup.dicGroup"></span></div>
                         <ul ui-sortable="sortableOptions">
                             <li ng-repeat="dictionary in dictionaryGroup.dictionaries | orderBy:'dicSequence'">
                                 <div class="checkbox">
                                     <label>
                                         <input type="checkbox"> {{dictionary.displayName}}
                                     </label>
                                 </div>
                             </li>
                         </ul>
                     </div>
                 </div>-->

                <!-- 顶部设置中的四个字典框，由于ui-sortable的限制没有用一个ng-repeat循环显示，分为了四个分别显示。-->
                <div class="col-xs-6 col-sm-3" style="padding: 10px;">
                    <div class="dicGroupContainer">
                        <div class="pull-right">梵</div>
                        <ul ui-sortable="sortableFanOptions" ng-model="fan_dictionaryList">
                            <li ng-repeat="dictionary in fan_dictionaryList | orderBy:'dicSequence'">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"  ng-click="updateUserDicCheckList($event,dictionary.id)"
                                               ng-checked="currentUser.dicSequence.checkList.indexOf(dictionary.id) > -1"> {{dictionary.shortName}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-3" style="padding: 10px;">
                    <div class="dicGroupContainer">
                        <div class="pull-right">巴</div>
                        <ul ui-sortable="sortableBaOptions" ng-model="ba_dictionaryList">
                            <li ng-repeat="dictionary in ba_dictionaryList | orderBy:'dicSequence'">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"  ng-click="updateUserDicCheckList($event,dictionary.id)"
                                               ng-checked=" currentUser.dicSequence.checkList.indexOf(dictionary.id) > -1"> {{dictionary.shortName}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-3" style="padding: 10px;">
                    <div class="dicGroupContainer">
                        <div class="pull-right">藏</div>
                        <ul ui-sortable="sortableZangOptions" ng-model="zang_dictionaryList">
                            <li ng-repeat="dictionary in zang_dictionaryList | orderBy:'dicSequence'">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-click="updateUserDicCheckList($event,dictionary.id)"
                                                ng-checked=" currentUser.dicSequence.checkList.indexOf(dictionary.id) > -1"> {{dictionary.shortName}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-3" style="padding: 10px;">
                    <!--<div class="dicGroupContainer" style="height: 150px;overflow-y:scroll">-->
                    <div class="dicGroupContainer">
                        <div class="pull-right">汉</div>
                        <ul ui-sortable="sortableHanOptions" ng-model="han_dictionaryList">
                            <li ng-repeat="dictionary in han_dictionaryList | orderBy:'dicSequence'">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"  ng-click="updateUserDicCheckList($event,dictionary.id)"
                                               ng-checked=" currentUser.dicSequence.checkList.indexOf(dictionary.id) > -1"> {{dictionary.shortName}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateCurrentUser">
<!--<div class="modal fade" id="updateCurrentUser" ng-controller="UsersCtrl as VM">-->
  <!-- /.modal-dialog -->
  <div class="modal-dialog">
    <!-- /.modal-content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">密码修改</h4>
      </div>

      <div class="modal-body">
        <form name="form" novalidate="novalidate" class="ng-pristine ng-invalid ng-invalid-required">

          <div class="input-group input-group-sm col-xs-12">
            <!--<span class="input-group-addon glyphicon glyphicon-user"></span>-->
            <div class="col-xs-2"><label class="text-info mt4">用户名:</label></div>
            <div class="col-xs-6"><input type="text" class="form-control" name="userName" ng-model="currentUser.username"
                                         ng-disabled="true" placeholder="用户名" required/></div>
            <div class="col-xs-4">
              <label class="text-info mt4">用户名不可修改</label>
            </div>
          </div>

          <!--<div class="form-group" ng-class="{ 'has-error': form.password.$invalid && !form.password.$pristine }">
            <div class="input-group input-group-sm col-xs-12 mt10">
              <div class="col-xs-2"><label class="text-info mt4">旧密码:</label></div>
              <div class="col-xs-6"><input type="password" name="password" class="form-control" ng-model="currentUser.password"
                                           placeholder="密码" ng-minlength=6 ng-maxlength=16/>
                <p ng-show="form.password.$error.minlength" class="help-block">您输入的密码不足六位</p>
                <p ng-show="form.password.$error.maxlength" class="help-block">您输入的密码超过十六位</p>
              </div>
              <div class="col-xs-4"><label class="text-info mt4">密码长度6-16位</label></div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && !form.password.$pristine }">
            <div class="input-group input-group-sm col-xs-12 mt10">
              <div class="col-xs-2"><label class="text-info mt4">新密码:</label></div>
              <div class="col-xs-6"><input type="password" name="password" class="form-control" ng-model="currentUser.password"
                                           placeholder="密码" ng-minlength=6 ng-maxlength=16/>
                <p ng-show="form.password.$error.minlength" class="help-block">您输入的密码不足六位</p>
                <p ng-show="form.password.$error.maxlength" class="help-block">您输入的密码超过十六位</p>
              </div>
              <div class="col-xs-4"><label class="text-info mt4">密码长度6-16位</label></div>
            </div>
          </div>-->
          <div class="form-group" ng-class="{ 'has-error': form.oldPassword.$invalid && !form.oldPassword.$pristine }">
            <div class="input-group input-group-sm col-xs-12 mt10">
              <div class="col-xs-2"><label class="text-info mt4">旧密码:</label></div>
              <div class="col-xs-6"><input type="password" name="oldPassword" class="form-control"
                                           ng-model="oldPassword"
                                           placeholder="旧密码" ng-minlength="6" ng-maxlength="16"/>
                <!--<div class="col-xs-6"><input type="password" name="oldPassword" class="form-control"
                                             ng-model="VM.oldPassword"
                                             placeholder="旧密码" ng-minlength="6" ng-maxlength="16"/>-->
                <p ng-show="form.oldPassword.$error.minlength" class="help-block">您输入的密码不足六位</p>
                <p ng-show="form.oldPassword.$error.maxlength" class="help-block">您输入的密码超过十六位</p>
              </div>
              <div class="col-xs-4"><label class="text-info mt4">密码长度6-16位</label></div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && !form.password.$pristine }">
            <div class="input-group input-group-sm col-xs-12 mt10">
              <div class="col-xs-2"><label class="text-info mt4">新密码:</label></div>
              <div class="col-xs-6"><input type="password" id="passwordCurrent" name="password" class="form-control" ng-model="currentUser.password"
                                           placeholder="新密码" ng-minlength="6" ng-maxlength="16"/>
                <p ng-show="form.password.$error.minlength" class="help-block">您输入的密码不足六位</p>
                <p ng-show="form.password.$error.maxlength" class="help-block">您输入的密码超过十六位</p>
              </div>
              <div class="col-xs-4"><label class="text-info mt4">密码长度6-16位</label></div>
            </div>
          </div>
          <div class="form-group has-feedback" ng-class="{'has-success' : !form.confirmPassword.$pristine && form.confirmPassword.$valid,
           'has-error': form.confirmPassword.$invalid && !form.confirmPassword.$pristine }">
            <div class="input-group input-group-sm col-xs-12 mt10">
              <div class="col-xs-2"><label class="text-info mt4">确认密码:</label></div>
              <div class="col-xs-6"><input type="password" name="confirmPassword" class="form-control" ng-model="passwordConfirm"
                                           placeholder="再次输入密码" pw-check="passwordCurrent" ng-minlength="6" ng-maxlength="16">
                <!--<div class="col-xs-6"><input type="password" name="confirmPassword" class="form-control" ng-model="VM.passwordConfirm"
                                             placeholder="再次输入密码" pw-check="passwordCurrent" ng-minlength="6" ng-maxlength="16">-->
                <div ng-show="!form.confirmPassword.$pristine && tagName.confirmPassword.$valid" class="help-block">
                  <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
                <div ng-show="!form.confirmPassword.$pristine && form.confirmPassword.$invalid" class="help-block">
                  密码输入不一致<span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                <p ng-show="form.confirmPassword.$error.minlength" class="help-block">您输入的密码不足六位</p>
                <p ng-show="form.confirmPassword.$error.maxlength" class="help-block">您输入的密码超过十六位</p>
              </div>
              <div class="col-xs-4"><label class="text-info mt4">密码长度8-16位</label></div>
            </div>
          </div>


        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="updateUserFromHeader()">提交
        </button>
      </div>
    </div>
  </div>
</div>
